$primary: #05668D;
$secondary: #02C39A;
$light: #F0F3BD;
$white: #FEFEFE;
$black: #444;
/* LAYOUT ORIGINAL
body {
            display: grid;
            grid-template-areas:
                "header header"
                "sidebar main"
                "footer footer";
            grid-template-columns: 1fr 3fr;
            grid-template-rows: auto 1fr auto;
            min-height: 100vh;
        }

        header {
            grid-area: header;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
        }

        .sidebar {
            grid-area: sidebar;
        }

        main {
            grid-area: main;
        }

        footer {
            grid-area: footer;
        }

        .product-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 15px;
        }

        */

@import "../node_modules/bootstrap/scss/bootstrap";